---
import Nav from '../components/Nav.astro';
import TabPhoto from '../components/TabPhoto.astro';
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<Nav />

	<!-- Hero Section -->
	<section id="hero">
		<!-- Flex Container -->
		<div class="container flex flex-col space-y-12 md:space-y-0 md:flex-row items-start md:items-center px-6 mx-auto mt-5 md:mt-10">
			<!-- Left item -->
			<div class="flex flex-col space-y-12 md:w-1/2">
				
				<p class="max-w-sm">
					Профессиональный фотограф
				</p>
				<div class="animate-hide flex md:justify-end">
					<h1 class="font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2">
						Татьяна Алита
					</h1>
				</div>
				<div class="flex justify-end">
					<p class="md:max-w-xs">
						Искусство - не просто увлечение, а моя жизнь.<br />
						А фотоаппарат это часть меня - моё продолжение.
					</p>
				</div>
				<div class="flex justify-center md:justify-start">
					<a href="#" class="p-5 baseline border hover:px-6 duration-500 ease-out transition-all">
						Записаться на фотосессию
					</a>
				</div>
			</div>
			<!-- Image -->
			<div class="md:w-1/2">
				<img src="img/hero.jpg" alt="Tatiana Anita hero photo" />
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="about" data-anchor="about">
		<!-- Flex Container -->
		<div class="container flex flex-col space-y-12 md:space-y-0 md:flex-row items-start md:items-center px-6 mx-auto mt-20">
			<!-- Left item -->
			<div class="flex flex-col space-y-12 md:w-1/2 pr-2">
				<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap md:pr-2">
					Обо мне
				</h2>
				<blockquote  class="flex justify-start md:justify-center">
					<p class="md:max-w-xs italic">
						"Люди часто говорят 'фотография - это здорово, хорошее хобби!'<br />
						А чем ты по жизни занимаешься?<br />
						Кем работаешь?"
					</p>
				</blockquote>
				<div class="flex flex-col space-y-6">
					<p>
						Здравствуйте, меня зовут Татьяна Алита. Я профессиональный фотограф в г.Санкт-Петербург.
					</p>
					<p>
						В проефессии с 2013 года. Я фотограф таких жанров, как фотопрогулка, студийная, семейная, детская съемка.
					</p>
					<p>
						Я не буду говорить, что я очень опытный или суперталантливый фотограф с выдающейся точкой зрения в искусстве.
						Но я скажу, что искусство это моя жизнь. Не просто увлечение. Это всё, чем я живу, что делаю и творю.
						Фотоаппарат это часть меня - моё продолжение.
					</p>
				</div>
			</div>
			<!-- Image -->
			<div class="md:w-1/2 overflow-hidden lg:h-[46rem]">
				<img src="img/about.jpg" alt="Tatiana Anita about picture" class="object-cover w-full h-full" />
			</div>
		</div>
	</section>

	<!-- Features Section -->
	<section id="features">
		<!-- Flex Container -->
		<div class="container flex flex-col space-y-12 px-6 mx-auto mt-20">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col">
				Фотосессия
				<span class="ml-20">со мной, это:</span>
			</h2>
			<div class="flex flex-col md:flex-row gap-8 md:gap-4">
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Высокое качество фото</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						За 9 лет я обработала более 30 000 фотографий. И работаю только на профессиональном оборудовании.
					</p>
				</div>
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Индивидуальный подход</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						Если у вас нет опыта в съемках, то это не страшно. Я помогу в позировании на протяжении всей фотосессии.
					</p>
				</div>
				<div class="feature animate-hide">
					<h6 class="font-serif text-2xl mb-5 flex flex-col space-y-2 w-fit">
						<span class="">Помощь в подборе локации</span>
						<span class="border-b border-veryLightGray"></span>
					</h6>
					<p>
						Я помогу подобрать проверенную студию для съемок и знаю, где лучше всего пройдёт уличная фотосессия.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="formats-photoshoots">
		<div class="container flex flex-col space-y-12 px-6 mx-auto mt-20">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col">
				Форматы съемок
			</h2>

			<div 
				role="tablist"
				aria-label="tabs"
				class="w-max mx-auto grid grid-cols-2 md:grid-cols-4 gap-y-3 col-auto items-center px-[3px] overflow-hidden transition"
			>
				<button
					role="tab"
					aria-selected="true"
					aria-controls="panel-studio"
					id="tab-studio"
					tabindex="0"
					class="h-10 px-6 tab border-b border-brightRed text-brightRed"
				>
					Студийная
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-family"
					id="tab-family"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Семейная
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-walk"
					id="tab-walk"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Фотопрогулка
				</button>
				<button
					role="tab"
					aria-selected="false"
					aria-controls="panel-child"
					id="tab-child"
					tabindex="-1"
					class="h-10 px-6 tab border-b border-veryLightGray"
				>
					Детская
				</button>
			</div>
			<!-- Tab Content -->
			<div class="mt-6 relative">
				<TabPhoto
					id="panel-studio"
					image0="img/formats/studio/0.jpg"
					image1="img/formats/studio/1.jpg"
					image2="img/formats/studio/2.jpg"
					image3="img/formats/studio/03.jpg"
					image4="img/formats/studio/04.jpg"
					href="#"
					active={true}
				/>
				<TabPhoto
					id="panel-family"
					image0="img/formats/family/0.jpg"
					image1="img/formats/family/1.jpg"
					image2="img/formats/family/3.jpg"
					image3="img/formats/family/2.jpg"
					image4="img/formats/family/4.jpg"
					href="#"
				/>
				<TabPhoto
					id="panel-walk"
					image0="img/formats/walk/0.jpg"
					image1="img/formats/walk/1.jpg"
					image2="img/formats/walk/2.jpg"
					image3="img/formats/walk/03.jpg"
					image4="img/formats/walk/4.jpg"
					href="#"
				/>
				<TabPhoto
					id="panel-child"
					image0="img/formats/child/0.jpg"
					image1="img/formats/child/1.jpg"
					image2="img/formats/child/4.jpg"
					image3="img/formats/child/2.jpg"
					image4="img/formats/child/3.jpg"
					href="#"
				/>
			</div>

		</div>
	</section>

</MainLayout>

<script>
	import "../js/animation.js";
	import "../js/tabs.js";
</script>