---
interface Props {
	href: string;
	text: string;
}

const {
	href,
	text
} = Astro.props as Props;
---

<a href={href} class="p-5 align-baseline border hover:px-6 hover:border-brightRed focus:px-6 focus:border-brightRed transition-all duration-500 ease-out">
	{text}
</a>