---
import contactData from "../data/contactData"
---

<nav class="relative lg:container mx-auto p-6">
	<!-- Flex container -->
	<div class="flex items-center justify-between">
		<!-- Logo -->
		<a href="#" class="flex justify-center">
			<img src="/logo0.svg" alt="Logo" width="100px" />
		</a>
		<!-- Menu Items -->
		<ul class="hidden md:flex space-x-3 lg:space-x-10 pl-2">
			<li><a href="#about" class="border-b-2 border-darkGray hover:border-veryLightGray duration-500 ease-out transition-all">Обо мне</a></li>
			<li><a href="#formats-photoshoots" class="border-b-2 border-darkGray hover:border-veryLightGray duration-500 ease-out transition-all">Форматы съемок</a></li>
			<li><a href="#studios" class="border-b-2 border-darkGray hover:border-veryLightGray duration-500 ease-out transition-all">Фотостудии</a></li>
			<li><a href="#reviews" class="border-b-2 border-darkGray hover:border-veryLightGray duration-500 ease-out transition-all">Отзывы</a></li>
			<li><a href="#contacts" class="border-b-2 border-darkGray hover:border-veryLightGray duration-500 ease-out transition-all">Контакты</a></li>
		</ul>
		<!-- Phone number -->
		<a href=`tel:${contactData.phoneValue}` class="hidden md:flex p-3 pr-0 items-start gap-0.5">
			<img src="/phone.svg" alt="phone" width="18px" class="pt-[2px]" />
			<span>{contactData.phoneText}</span>
		</a>

		<!-- Hamburger Icon -->
		<button id="menu-btn" class="block hamburger focus:outline-none md:hidden">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
		</button>

		<!-- Mobile Menu -->
		<div id="slideover-container" class="fixed inset-0 w-full h-full invisible z-10">
			<div id="slideover-bg"class="absolute inset-0 w-full h-full bg-gray-900 opacity-0 z-0 duration-500 ease-out transition-all"></div>
			<ul id="slideover"class="absolute w-56 h-full flex-col items-left self-end px-10 pt-20 space-y-10 bg-navGray top-0 right-0 translate-x-full duration-500 ease-out transition-all">
				<li><a href="#about" class="nav-link hover:text-brightRed">Обо мне</a></li>
				<li><a href="#formats-photoshoots" class="nav-link hover:text-brightRed">Форматы съемок</a></li>
				<li><a href="#studios" class="nav-link hover:text-brightRed">Фотостудии</a></li>
				<li><a href="#reviews" class="nav-link hover:text-brightRed">Отзывы</a></li>
				<li><a href="#contacts" class="nav-link hover:text-brightRed">Контакты</a></li>
			</ul>
		</div>
	</div>
</nav>

<script>
	import "../js/nav.js"
</script>