---
---
<section id="price" data-anchor="price">
	<div class="container flex flex-col space-y-6 md:space-y-12 px-6 mx-auto mt-20">
		<div class="flex flex-col md:flex-row space-y-6 md:space-y-0">
			<h2 class="animate-hide font-serif text-brightRed text-4xl md:text-5xl lg:text-6xl whitespace-nowrap pr-2 flex flex-col md:w-1/2">
				Стоимость
			</h2>
			<div class="md:w-1/2">
				<p>
					Предлагаю несколько видов пакетов фотосъемки, отличающихся продолжительностью, количесвом фото и условиями.
				</p>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-5 xl:gap-10">

			<div class="flex flex-col self-start border border-brightRed py-8 px-5">
				<h4 class="font-serif text-brightRed text-2xl md:text-3xl lg:text-4xl w-max mx-auto">
					Light
				</h4>
				<ul class="square flex flex-col space-y-2 mt-5">
					<li>1 час работы</li>
					<li>Аренда студии оплачивается отдельно</li>
					<li>1-2 образа</li>
					<li>35 обработанных фотографий</li>
					<li>5 отретушированных фотографий</li>
					<li>Отправка фото на электронную почту</li>
				</ul>
				<h6 class="text-2xl mt-5">от 4500 р.</h6>
				<div class="flex justify-center mt-5 ">
					<a href='/#contacts' class="text-brightRed p-5 baseline border border-brightRed w-full flex justify-center">
						Записаться
					</a>
				</div>
			</div>
		
			<div class="flex flex-col self-start border border-brightRed py-8 px-5">
				<h4 class="font-serif text-brightRed text-2xl md:text-3xl lg:text-4xl w-max mx-auto">
					Base
				</h4>
				<ul class="square flex flex-col space-y-2 mt-5">
					<li>1 час работы</li>
					<li>1 зал на выбор категории Classic</li>
					<li>1-2 образа</li>
					<li>50 обработанных фотографий</li>
					<li>10 отретушированных фотографий</li>
					<li>Отправка фото на электронную почту</li>
				</ul>
				<h6 class="text-2xl mt-5">6500 р.</h6>
				<div class="flex justify-center mt-5">
					<a href='/#contacts' class="text-brightRed p-5 baseline border border-brightRed w-full flex justify-center">
						Записаться
					</a>
				</div>
			</div>
		
			<div class="flex flex-col self-start border border-brightRed py-8 px-5">
				<h4 class="font-serif text-brightRed text-2xl md:text-3xl lg:text-4xl w-max mx-auto">
					Premium
				</h4>
				<ul class="square flex flex-col space-y-2 mt-5">
					<li>1 час работы</li>
					<li>1 зал на выбор категории Classic</li>
					<li>2 образа</li>
					<li>70 обработанных фотографий</li>
					<li>20 отретушированных фотографий</li>
					<li>Макияж и прическа от визажиста</li>
					<li>Отправка фото на электронную почту</li>
				</ul>
				<h6 class="text-2xl mt-5">9500 р.</h6>
				<div class="flex justify-center mt-5">
					<a href='/#contacts' class="text-brightRed p-5 baseline border border-brightRed w-full flex justify-center">
						Записаться
					</a>
				</div>
			</div>
		
			<div class="flex flex-col self-start border border-brightRed py-8 px-5">
				<h4 class="font-serif text-brightRed text-2xl md:text-3xl lg:text-4xl w-max mx-auto">
					VIP
				</h4>
				<ul class="square flex flex-col space-y-2 mt-5">
					<li>2 часа работы</li>
					<li>2 зала на выбор категории Classic и VIP</li>
					<li>4 образа</li>
					<li>100 обработанных фотографий</li>
					<li>25 отретушированных фотографий</li>
					<li>Макияж и прическа от визажиста</li>
					<li>Отправка фото на электронную почту</li>
				</ul>
				<h6 class="text-2xl mt-5">20500 р.</h6>
				<div class="flex justify-center mt-5">
					<a href='/#contacts' class="text-brightRed p-5 baseline border border-brightRed w-full flex justify-center">
						Записаться
					</a>
				</div>
			</div>
		
		</div>
	</div>
</section>

